# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib


# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# binary
bakery
baker
function.zip
main

# JetBrains IDE
.idea/

# local file for setting envvars '. ./set_vars.sh'
set_vars.sh
