
$link-color: #0aa3a3; 

.side-bar {
    background-color: #2c3e50;
}
a {
  color: $link-color;
}

a:not([class]) {
  &:hover {
    background-image: linear-gradient(rgba($link-color, 0.45) 0%, rgba($link-color, 0.45) 100%);
  }
}

::selection {
  background: $link-color;
}

.btn {
  color: $link-color;

  &:hover,
  &.zeroclipboard-is-hover {
    color: darken($link-color, 2%);
  }
}

.btn-outline {
  color: $link-color;

  &.zeroclipboard-is-active {
    color: darken($link-color, 4%);
  }
}

.search-input {
  &:focus {
    + .search-icon {
      fill: $link-color;
    }
  }
}

.search-result-highlight {
  color: $link-color;
}

.post-date {
  color: grey;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.navigation-list-link.active{
    color: #ffffff;
}

.navigation-list-child-list .navigation-list-link {
    color: #bdbbc0;

    &.active {
        color: #ffffff;
    }
}